<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitors' book|<%= title %></title>

    <style>
        /* *{margin: 0px; padding:0px;}; */
        body{
            padding: 20px;
            text-align: center;
            
        }
        
        h1{
        background-color: beige;
        height:auto;
        border: 1px solid #333;
        text-align: center;
        color:darkblue;
        }
        a{
        padding: 10px;
        }
    </style>
</head>
<body> 
    <% const name = 'Juhee' %>
    <nav>
        <div class="site-title">
            <p><%=name%></p>
            <a href="/"><h1>Welcome to Visitors' book</h1></a>
            <p>made by Juhee</p>
            <br>방명록 남겨주세요!</br>
        </div>
        
       <a href="test2">작성하기</a>
    
    </nav>
    
</body>
</html>