
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juhee's first assign | <% title %></title>
    <style>
        
        h2{
         text-align: center; 
         font-family: Arial, Helvetica, sans-serif;
         font-size: 45px;   
        }
            
        ul>li{
        list-style: none;
        padding-right: 10px;
        font-size:20px;
        font-weight: bold;
        color:darkgreen;
        margin: 20px;
        position:relative;
        }
        #text_box{ 
        position:absolute; 
        }
        div{
        margin: 50px;
        height: 30px;
        background-color: darkmagenta;
        padding-top: 20px
        }
        #add_btn {
        float:right;
        }
        #del_btn {
        float:right;
        }


     </style>
</head>

<body>
    <h2>Visitors' List
    </h2>
    <div>
   
    <form action="" method="POST" >
     <label for="name"> 이름: </label>
     <input type="text" id="name" required>

     <label for="phone_num">연락처:</label>
     <input type="text" id="phone_num" required>

    <br> <label for="content">내용:</label>
    <textarea name="내용" id="content"></textarea></br>

    <input type="submit" value="추가" id="add_btn">
    </form>
    </div>
    <br></br>
    <br></br>
    <a href="/">처음으로</a>

    
   

</body>
</html>